.row{
    background-color: #65524d;
    padding: 5px;

}

app-social{
    float: right;
    margin-top: 30px;
}

app-login{
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}

@media(max-width:768px){
    div{
        padding: 0;
        align-items: center;
        align-content: center;
        display: inline-block;
        justify-items: center;
    }
}