<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/img/APLogo.png" alt="" class="img-fluid" id="logoIMG">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="socials">
        <a href="#"><i class="fa fa-facebook-square fa-2x" style="color: white" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square fa-2x" style="color: white;" aria-hidden="true"></i></a>    
        <a href="#"><i class="fa fa-instagram fa-2x" style="color: white;" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-github-square fa-2x" style="color: white;" aria-hidden="true"></i></a>  
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">        
            <a class="btn btn-outline-light" href="" role="button">Login</a>        
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="../../../assets/img/banner.png" class="img-fluid" id="bannerIMG">
    </div>
</div>
