<div class="row">
    <h1>My Projects</h1>
    <div class="col-3">
        <div class="card"> <!-- css. class=proyectSection -->
            <div class="card-header text-center">
                <h3>Portfolio</h3>
            </div>
            <div class="card-body">
               <a href="#"><img src="" class="img-fluid"/></a>
            </div>
            <div class="card-footer text-center">
                <p>Proyect made for the Argentina Programa Program</p>
            </div>
        </div>
    </div>
</div>
