<div class="row">
    <h1>Education</h1>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <ol style="--length: 5" role="list">
            <li style="--i: 3">
                <h3>Universidad Catolica de Santiago del Estero</h3>
                <p>Informatics Engineering</p>
                <p>Attended from 2007-2020</p>
            </li>
            <li style="--i: 3">
                <h3>Instituto Santa Barbara</h3>
                <p>Graduated in 2006</p>
            </li>  
            <li style="--i: 3">
                <h3>Other Courses</h3>
                <ul style="--length: 8" role="list">
                    <li style="--i: 5"><a>CSS</a></li>
                    <li style="--i: 5"><a>JavaScript</a></li>
                    <li style="--i: 5"><a>Bootstrap</a></li>
                    <li style="--i: 5"><a>HTML</a></li>
                </ul>
            </li>           
        </ol>
    </div>
    <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1"></div>
</div>