<div class="row">
    <h1>My Professional Skills</h1>
    <h2>Soft Skills</h2>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Time Management'"
            [titleFontSize]="'0.85em'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Team Spirit'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Problem Solving'"
            [titleFontSize]="'1em'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Empathy'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Communication'"
            [titleFontSize]="'1em'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Adaptability'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <h2>Hard Skills</h2>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'HTML'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'CSS'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'JavaScript'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Chinese'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'English'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
    <div class=" text-center col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="75"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#2c5530'"
            [innerStrokeColor]="'#758e4f'"
            [animation]="false"
            [title]="'Portuguese'"
            [showUnits]="false"
            [showSubtitle]="false"
        ></circle-progress>
    </div>
</div>
