<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <img src="../../../assets/img/profilePic.png" class="img-fluid" id="profileIMG">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <p id="name">Natali Lopez Coca</p>
        <p>FullStack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <h1>About Me</h1>
        <br>
        <p id="aboutMe">Hi! My name is Natali, I am a 34 year old FullStack Developer from Jujuy, Argentina. This website showcases a collection of my recent works. Thanks for dropping by</p>
    </div>
</div>
