.row{
    padding: 20px;
    background-color: #758e4f;
    text-align: center;
}

h1, #aboutMe{
    color: #e5e5e5;
}

#profileIMG{
    position: absolute;
     width: 15%; 
     border-radius: 100%;
     border: 2px solid #e5e5e5;
     box-shadow: 3px 3px 3px black;
     left: 3%;
     top: 630px;
}

#name{
    font-weight: bold;
    margin-top: 20%;
}

@media (min-width: 1140px){
    #profileIMG{
        position: absolute;
         width: 15%; 
         border-radius: 100%;
         border: 2px solid #e5e5e5;
         box-shadow: 3px 3px 3px black;
         left: 3%;
         top: 500px;
    }
}

@media (max-width: 576px){
    #profileIMG{
        position: absolute;
         width: 15%; 
         border-radius: 100%;
         border: 2px solid #e5e5e5;
         box-shadow: 3px 3px 3px black;
         left: 3%;
         top: 620px;
    }
}

@media (max-width: 475px){
    #profileIMG{
        position: absolute;
         width: 50%; 
         border-radius: 100%;
         border: 2px solid #e5e5e5;
         box-shadow: 3px 3px 3px black;
         left: 25%;
         top: 720px;
    }
}

@media (max-width: 320px){
    #profileIMG{
        position: absolute;
         width: 50%; 
         border-radius: 100%;
         border: 2px solid #e5e5e5;
         box-shadow: 3px 3px 3px black;
         left: 25%;
         top: 740px;
    }
}