<div class="row">
    <h1>Work Experience</h1>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <ol style="--length: 5" role="list">
            <li style="--i: 3">
                <h3>Ministerio de Salud de Jujuy</h3><h4>2015-2016</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis repellat laboriosam repudiandae vel blanditiis quidem iste velit laudantium modi alias delectus vitae eligendi, asperiores accusamus ea rem magni ullam cupiditate?</p>
            </li>
            
        </ol>
    </div>
    <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1"></div>
</div>
